[submodule "mmdetection3d"]
	path = mmdetection3d
	url = https://github.com/open-mmlab/mmdetection3d
[submodule "detectron2"]
	path = detectron2
	url = https://github.com/facebookresearch/detectron2.git
